<!DOCTYPE html>
<html>
  <head>     
     <link href="css/style.css" type="text/css" rel="stylesheet"/>


  </head>
  <body>
    <h1> Connecter </h1>
    <main>
          <div id="error">
          <% if (locals.error){ %>
           <p><%= error %></p>
          <% } %>
          </div>
      <aside id="start_menu">
        
        <form name="general"  method="POST" >
         <input type="text" placeholder="Votre psudo" name="psudo" id="champs_ecriture" placeholder="Entrez votre nom" />
        <input type="password" id="champs_ecriture" name="mot_pass" size="60" maxlength="60" placeholder="Entrez Votre mot de pass"/>
     

        <input type="submit"  value="Connecter" id="btn_start"/>

        </form>
         
      </aside>
    </main>

  </body>
</html>
