<!DOCTYPE html>
<html>
<head>
<title>Utilisateur connecté</title>
 <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body id="dame">
  <header id="container">
	<nav class="menu">
    <h1>Bonjour t'es sur la liste </h1>
        <div id="error">
          <% if (locals.error){ %>
           <p><%= error %></p>
          <% } %>
          </div>


</body>
</html>

